<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body {
    margin: 0;
    padding: 10px;
    background-color: rgb(31, 31, 31);
  }

  div.main {
    color: black;
    background-color: white;
    width: 85%;
    height: 50%;
    margin: 0 auto;
    border-radius: 10px;
  }
</style>

<body>
  <div class="main">
    Hello
  </div>
</body>
<script src="static/graph.js"></script>

</html>